<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
  
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">  
            <li class="nav-item">
                <a class="nav-link active" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="weather">Weather</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link active" href="apod">APOD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="contactme">Contact</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link active" href="admin">Admin</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="login">Login <span class="sr-only">Login</span></a>
            </li>
        </ul>
    </div>
</nav>



<div class="container-fluid">
    <br>
        <router-outlet></router-outlet> 
</div>


